@import '../../theme/sass/auth';

.header {
  background-color: #3498DB;
}

.body {
  background-color: #AED6F1;
}

.body h1,
h2,
input,
p {
  color: black !important;
}

.createaccountlabel {
  font-size: 40px;
}

.form-control {
  color: black;
  // border: 1px solid black !important;
}

.purposeLabel {
  font-size: 50px;
  color: black;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
}

.label.custom-radio>span {
  color: black;
}

// .headerRow {
//   height: 50px;
// }
